/* Reset */
* {
    box-sizing: border-box;
}

/* Pantalla completa */
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

/* Fondo degradado limpio */
body {
    background: linear-gradient(to top, #001a33, #00ccff);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
}

/* Logo */
.logo {
    position: fixed;
    top: 15px;
    left: 15px;
    width: 100px;
}

/* Contenedor */
#container {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Robot */
model-viewer {
    width: 400px;
    height: 400px;
}