<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<title>Robot</title>

<script type="module"
  src="https://unpkg.com/@google/model-viewer/dist/model-viewer.min.js">
</script>

<link rel="stylesheet" href="/static/css/style.css">
</head>

<body>

<!-- Logo fijo arriba izquierda -->
<img src="/static/Logo.png" class="logo" alt="Logo">

<!-- Contenedor principal -->
<div id="container">
    <model-viewer 
        src="/static/robot.glb"
        camera-controls
        disable-zoom
        exposure="1"
        shadow-intensity="0"
        alt="robot">
    </model-viewer>
</div>

</body>
</html>