{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Robot Premium</title>

<script type="module"
  src="https://unpkg.com/@google/model-viewer/dist/model-viewer.min.js">
</script>

<link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>

<img src="{% static 'Logo.png' %}" class="logo fade-in" alt="Logo">

<div class="banner fade-in">
    <img src="{% static 'Banner.jpg' %}" alt="Banner">
</div>

<div id="app">

    <div class="video-box fade-up">
        <video src="{% static 'models/video.mp4' %}" controls muted loop></video>
    </div>

    <div class="robot-box fade-up-delay">
        <model-viewer 
            src="{% static 'robot.glb' %}"
            camera-controls
            auto-rotate
            exposure="1.1"
            shadow-intensity="0.8"
            environment-image="neutral"
            interaction-prompt="none"

            camera-orbit="0deg 75deg auto"
            camera-target="0m 0.5m 0m"
            min-field-of-view="20deg"
            max-field-of-view="35deg"
            field-of-view="28deg"

            bounds="tight"
            alt="robot">
        </model-viewer>
    </div>

</div>

<script>
function setRealViewportHeight() {
    let vh = window.innerHeight * 0.01;
    document.documentElement.style.setProperty('--vh', `${vh}px`);
}
setRealViewportHeight();
window.addEventListener('resize', setRealViewportHeight);
</script>

</body>
</html>